* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(175, 220, 235);
    padding: 20px;
    text-align: center;
    margin-bottom: 24px;
}

main {
    margin: 20px;
}

img {
    max-width: 100%;
}

.intro {
    background-color: rgb(171, 163, 199);
    padding: 20px;
    margin-bottom: 24px;
}

.intro h2 {
    margin-bottom: 10px;
}

.intro img{
    margin-top: 16px;
    margin-bottom: 16px;
}


.cards-container article {
    background-color: rgb(221, 225, 248);
    width: 100%;
    padding: 20px;
    margin-bottom: 16px;
}

article h2 {
    margin-bottom: 10px;
}

article h3 {
    margin-top: 16px;
    margin-bottom: 8px;
}

article ul {
    margin-left: 20px;
}

article img {
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
    background-color: rgb(105, 133, 143);
    padding: 20px;
    text-align: center;
    margin-top: 24px;
}

@media (min-width: 768px) {

    .cards-container article {
        display: inline-block;
        width: 30%;
        margin-right: 3%;
        vertical-align: top;
    }

}